packages:
  yum:
    mod24_ssl: []

commands:
  021-install-ssl:
    command: "/tmp/install-certbot.sh"
  022-execute-certbot:
    command: "/usr/local/bin/update-lets-encrypt-certificate.sh >> /tmp/lets-encrypt-ssl.log"

files:
  "/tmp/install-certbot.sh":
    mode: "000755"
    content : |
      #!/bin/bash
      if [ ! -d /etc/letsencrypt ]; then
        echo 'cp -av /efs/letsencrypt /etc'
        cp -av /efs/letsencrypt /etc
      fi
      echo 'cp -av /efs/ssl.conf /etc/httpd/conf.d/ssl.conf'
      cp -av /efs/ssl.conf /etc/httpd/conf.d/ssl.conf
      if [[ ! -f /usr/local/bin/certbot-auto ]] ; then
        echo 'wget -P /usr/local/bin https://dl.eff.org/certbot-auto --quiet'
        wget -q -P /usr/local/bin https://dl.eff.org/certbot-auto --quiet
      fi
      echo 'chmod a+x /usr/local/bin/certbot-auto'
      chmod a+x /usr/local/bin/certbot-auto

  "/etc/cron.d/lets-encrypt-certificate-updater":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * root /usr/local/bin/update-lets-encrypt-certificate.sh >> /tmp/lets-encrypt-ssl.log

  "/usr/local/bin/update-lets-encrypt-certificate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # Copy existing certificates onto the server (if already exist in efs)
      if [ -d /efs/letsencrypt/live/prev-u.com ]; then
        # will not overwrite existing certificates
        echo 'cp --dereference --recursive --no-clobber /efs/letsencrypt/live/prev-u.com /etc/letsencrypt/live'
        cp --dereference --recursive --no-clobber /efs/letsencrypt/live/prev-u.com/ /etc/letsencrypt/live/
      fi

      echo '/opt/eff.org/certbot/venv/local/bin/pip install cryptography interface zope'
      /opt/eff.org/certbot/venv/local/bin/pip install cryptography interface zope
      echo '/usr/local/bin/certbot-auto -d prev-u.com --debug -n -m freud.fortier.chouinard@gmail.com --no-eff-email --authenticator webroot --installer apache -w /var/www/html/public --no-redirect'
      /usr/local/bin/certbot-auto -d prev-u.com -d www.prev-u.com --debug -n -m freud.fortier.chouinard@gmail.com --no-eff-email --authenticator webroot --installer apache -w /var/www/html/public --no-redirect
      echo 'service httpd restart'
      service httpd restart

      # Copy new certificates to efs
      echo 'rm -rf /efs/letsencrypt/live/prev-u.com'
      rm -rf /efs/letsencrypt/live/prev-u.com
      echo 'cp --dereference --recursive --force /etc/letsencrypt/live/prev-u.com/ /efs/letsencrypt/live/'
      cp --dereference --recursive --force /etc/letsencrypt/live/prev-u.com/ /efs/letsencrypt/live/
