packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []

commands:
  031-install-ffmpeg:
    command: "/tmp/install-ffmpeg.sh"

files:
  "/tmp/install-ffmpeg.sh":
    mode: "000755"
    content : |
      #!/bin/bash
      if [[ ! -f /usr/local/bin/ffmpeg ]] ; then
        cp /efs/ffmpeg/ffmpeg-4.1.3-amd64-static/ffmpeg /usr/local/bin
      fi
      if [[ ! -f /usr/local/bin/ffprobe ]] ; then
        cp /efs/ffmpeg/ffmpeg-4.1.3-amd64-static/ffprobe /usr/local/bin
      fi
