files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/50_create_cache.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      php /var/app/current/artisan cache:clear >> /var/log/cache_clear_test.log
      php /var/app/current/artisan config:cache >> /var/log/config_cache_test.log
