files:
  /opt/elasticbeanstalk/hooks/appdeploy/post/52_start_supervisor.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      echo '--- Starting supervisor ---' > /var/log/start_supervisor.log
      /usr/local/bin/supervisord -c /etc/supervisord.conf >> /var/log/start_supervisor.log
      /usr/local/bin/supervisorctl reread >> /var/log/start_supervisor.log
      /usr/local/bin/supervisorctl update >> /var/log/start_supervisor.log
      /usr/local/bin/supervisorctl start laravel-worker:* >> /var/log/start_supervisor.log
      /usr/local/bin/supervisorctl status >> /var/log/start_supervisor.log
